// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}


// Center header
.section-heading h1 img {
  margin: 0 auto;
}

// Unclog people
div.people-person {
  margin-bottom: 25px;
}

a {
  color: #217589;
}

.btn-outline-primary {
  color: #217589;           /* text color */
  border-color: #217589;    /* outline color */
}

.btn-outline-primary:hover {
  color: #ffffff;           /* text on hover */
  background-color: #217589;
  border-color: #217589;
}
